name: pullerbox
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8 # iOS style icons
  flutter_riverpod: ^3.0.3
  shared_preferences: ^2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  fake_async: ^1.3.1
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
